# Build and Dependency folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/

# Visual Studio Folders
.vs/
.vscode/

# MSTest test Results
TestResults/

# ASP.NET Core 
*.vs/
*.user
*.sln.docstates

# NuGet Packages
*.nupkg
*.nuget.config

# Others
*.DS_Store
*.DS_Store?
._*
.DS_Store
nuget.config
packages/
logs/
