@model Faq

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <div class="row align-items-end">
       <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>FAQs</h4>
                    <span>
                        Frequently Asked Question
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-controller="Dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex">
                        <a asp-action="index">FAQ</a>
                    </li>
                    <li class="breadcrumb-item d-flex">
                        <span class="ellipse-two">@Model.Question</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="card">
        <div class="card-header">
            <h5>Add your question or answer</h5>
        </div>
        <div class="card-block">
            <form method="post" autocomplete="off">
                <div class="form-group row">
                    <label asp-for="Question" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Question" class="form-control" />
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Answer" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Answer" class="form-control" id="answer"></textarea>
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-end">
                        <input asp-for="Id" type="hidden" />
                        <button class="btn btn-primary mr-2">Save</button>
                        <a asp-action="index" class="btn btn-info">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section addjs{
    <script class="removeable" src="~/libs/ckeditor5/ckeditor.min.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#answer'))
            .catch(error => {
                console.error(error);
            });
    </script>
}