<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Management</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="dashboard" asp-action="index">
                    <span class="pcoded-micon">
                        <i class="feather icon-home"></i>
                    </span>
                    <span class="pcoded-mtext">Homepage</span>
                </a>
            </li>

            @if (User.HasAccess("admin.aboutcompany.index"))
            {
                <li>
                    <a asp-controller="AboutCompany" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-address-card"></i>
                        </span>
                        <span class="pcoded-mtext">About Company</span>
                    </a>
                </li>
            }
            @*<li>
            <a asp-controller="Abouts" asp-action="index">
            <span class="pcoded-micon">
            <i class="fa-solid fa-address-card"></i>
            </span>
            <span class="pcoded-mtext">About Me</span>
            </a>
            </li>*@

            @if (User.HasAccess("admin.books.index"))
            {
                <li>
                    <a asp-controller="books" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-book"></i>
                        </span>
                        <span class="pcoded-mtext">Books</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.orders.index"))
            {
                @*<li>
            <a asp-controller="orders" asp-action="index">
            <span class="pcoded-micon">
            <i class="fa-solid fa-book"></i>
            </span>
            <span class="pcoded-mtext">Orders</span>
            </a>
            </li>*@

                <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="fa-solid fa-signs-post"></i></span>
                        <span class="pcoded-mtext">Orders</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a asp-controller="orders" asp-action="index">
                                <span class="pcoded-mtext">All orders</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="orders" asp-action="CancelledOrders">
                                <span class="pcoded-mtext">Cancelled orders</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="orders" asp-action="DeliveredOrders">
                                <span class="pcoded-mtext">Delivered orders</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }

            @if (User.HasAccess("admin.categories.index"))
            {
                <li>
                    <a asp-controller="categories" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-filter"></i>
                        </span>
                        <span class="pcoded-mtext">Categories</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.authors.index"))
            {
                <li>
                    <a asp-controller="authors" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fas fa-regular fa-pen-nib"></i>
                        </span>
                        <span class="pcoded-mtext">Authors</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.publishers.index"))
            {
                <li>
                    <a asp-controller="publishers" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fas fa-regular fa-house"></i>
                        </span>
                        <span class="pcoded-mtext">Publishers</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.languages.index"))
            {
                <li>
                    <a asp-controller="languages" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-language"></i>
                        </span>
                        <span class="pcoded-mtext">Languages</span>
                    </a>
                </li>
            }


            <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="fa-solid fa-signs-post"></i></span>
                    <span class="pcoded-mtext">Blog Posts</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="blogposts" asp-action="index">
                            <span class="pcoded-mtext">Shares</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="blogposts" asp-action="deletedposts">
                            <span class="pcoded-mtext">Deleted shares</span>
                        </a>
                    </li>
                    @*<li>
                    <a asp-controller="brands" asp-action="index">
                    <span class="pcoded-mtext">Qadağa edilmiş sözlər</span>
                    </a>
                    </li>
                    <li>
                    <a asp-controller="brands" asp-action="index">
                    <span class="pcoded-mtext">Rəy funksionallıqları</span>
                    </a>
                    </li>*@
                </ul>
            </li>
            @if (User.HasAccess("admin.contactposts.index"))
            {
                <li>
                    <a asp-controller="ContactPosts" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-mail"></i>
                        </span>
                        <span class="pcoded-mtext">Messages from users</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.faqs.index"))
            {
                <li>
                    <a asp-controller="Faqs" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="pcoded-mtext">FAQs</span>
                    </a>
                </li>
            }
            @if (User.HasAccess("admin.subscribes.index"))
            {
                <li>
                    <a asp-controller="Subscribes" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-sharp fa-solid fa-share-nodes"></i>
                        </span>
                        <span class="pcoded-mtext">Subscribes</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.contactposts.index"))
            {
                <li>
                    <a asp-controller="ContactPosts" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                        <span class="pcoded-mtext">Contact with Admin</span>
                    </a>
                </li>
            }



            @if (User.HasAccess("admin.users.index"))
            {
                <li>
                    <a asp-controller="users" asp-action="index">
                        <span class="pcoded-micon">
                            @*<i class="feather icon-mail"></i>*@
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="pcoded-mtext">Users</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>