@model IEnumerable<Author>

<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2>
                        <span>Strong Minds Behind Us</span>Most Popular Authors
                    </h2>
                    <a class="tg-btn" asp-controller="author" asp-action="index">View All</a>
                </div>
            </div>
            <div id="tg-authorsslider"
                 class="tg-authors tg-authorsslider owl-carousel">

                @foreach (var item in Model)
                {
                    <div class="item tg-author">
                        <figure>
                            <a href="javascript:void(0);">
                                <img src="~/uploads/images/@item.ImagePath" alt="@item.Name" />
                            </a>
                        </figure>
                        <div class="tg-authorcontent">
                            <h2><a asp-controller="author" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h2>
                            <span>@item.Books.Count() Published Books</span>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="tg-twitter">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="tg-linkedin">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>