@model BookStoreForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/transitions.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/color.css" />
    <script src="https://kit.fontawesome.com/d2b183de45.js"
            crossorigin="anonymous"></script>
    <script src="~/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <div class="login">
        <div class="login-container">
            <div class="form-wrapper">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form validate-form">
                    <span class="form-title">Forgot Password</span>

                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        <div class="form-input">
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        </div>
                    }

                    <div class="form-input">
                        @*<label asp-for="Email">Email</label>*@
                        <input asp-for="Email" class="user-input" placeholder="Enter your email"/>
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="tg-btn btn">Send mail</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
