@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container">
    <div class="confirmation-wrp">
        <div class="confirmation-icon">
            <i class="far fa-regular fa-envelope"></i>
        </div>
        <h3>We sent an email to reset your password</h3>
    </div>
</div>