@{
    ViewData["Title"] = "Reset Password Confirmation";
}


<div class="container">
    <div class="confirmation-wrp">
        <div class="confirmation-icon">
            <i class="fas fa-solid fa-check"></i>
        </div>
        <h3>Your password has been successfully updated</h3>
    </div>
</div>